p{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Chakra Petch', sans-serif;
}

h3 {
    font-family: 'Prompt', sans-serif;
}

body{
    background-color: #BFC3BA;
}

#title{
    font-size: 50px;
    height: 10vh;
    max-height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.info{
    margin: 5px;
    top: 0;
    flex: 1 auto auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.profile{
    text-align: center;
    padding: 10px;
}

.about{
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: #2F2235;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #A9ACA9;
    margin: 5px auto auto auto;
    border-style: dashed;
    border-color: #2F2235;
    border-radius: 40px;
}

.content{
    flex: 1;
}

#profile-img{
    height: auto;
    max-height: 90%;
    max-width: 90%;
    border: solid;
    border-radius: 40px;
    border-color: black;
    background-color: #002B5B;
}

.social-icons{
    height: 40px;
}

.card{
    background-color: #A9ACA9;
    min-width: 50vw;
    width: 65%;
    padding: 10px;
    border-radius: 40px;
    margin: 50px auto 10px auto;
    text-align: center;
    border-style: dashed;
    border-color: #2F2235;
}

#chipkit-img{
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.snake-img{
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.link-icons{
    height: 25px;
}

#calc-img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

.left-align-p{
    text-align: left;
    line-height: 1.5;
}

.link{
    color: black;
}
